
head
    title Index
body
    h1 My ToDo List

    form
        table(border="1")
            tr
                td Name
                td Category
                td Date
                td Complete

                each item in tasklist
                    tr
                        td #{item.name}
                        td #{item.category} 
                        td #{item.date} 
                        td 
                            input(type="checkbox", name="completed", value="#{item.RowKey}")
  hr
    form(action="/home/newitem", method="post")
          table(border="1")    
                tr
                    td Item Name: 
                    td 
                        input(name="item[name]", type="textbox")
                tr
                    td Item Category: 
                    td 
                        input(name="item[category]", type="textbox")
                tr
                    td Item Date: 
                    td 
                        input(name="item[date]", type="textbox")
            input(type="submit", value="Add item")